:root {
  --bg-clr-dark: 21, 32, 43;
  --text-clr-dark: 228, 230, 231;
  --bg-clr-light: 250, 250, 255;
  --text-clr-light: 32, 32, 32;
  --rainbow: 203, 89%, 53%;
  /* default values */
  --bg-clr: var(--bg-clr-dark);
  --text-clr: var(--text-clr-dark);
  --strip-width: 1000px;
}
* {
  transition: 0.15s;
}
body {
  font-family: 'Nunito', Sans-Serif;
  padding: 0;
  margin: 0;
  color: rgb(var(--text-clr));
  background-color: rgb(var(--bg-clr));
}
a {
  color: hsl(var(--rainbow));
  margin: 5px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid hsl(var(--rainbow));
}
button {
  min-width: 20px;
  width: 100%;
  padding: 8px;
  margin: 1px;
  border: 0;
  border-radius: 3px;
  background-color: hsl(var(--rainbow));
  color: rgb(var(--bg-clr));
  outline: none;
  box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}
button:hover {
  background-image: linear-gradient(0deg, #0004, #0004);
}
input {
  box-sizing: border-box;
  min-width: 20px;
  width: 100%;
  padding: 8px;
  margin: 1px;
  border: 1px solid #0000;
  border-radius: 3px;
  background-color: rgba(var(--text-clr), 0.1);
  color: rgb(var(--text-clr));
  outline: none;
  font-family: 'Nunito', sans-serif;
  cursor: text;
}
input:hover {
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.05));
}
input:focus {
  border-color: hsl(var(--rainbow));
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.1));
}
h1 {
  color: hsl(var(--rainbow));
  font-size: 36px;
  line-height: 0;
}
h2 {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: grey;
}
h3 {
  margin: 5px 0 5px 0;
  font-size: 20px;
  color: rgb(var(--text-clr));
}

.modal { /* modal background    source: w3schools */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* scroll down to see whole modal */
  background-color: #000a; /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(var(--bg-clr));
  margin: 10vh auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(var(--bg-clr));
  width: 50%;
  min-width: 320px;
  /* padding: 25px 50px 25px 50px; */
  border-radius: 10px;
}

.infotab {
  display: block;
  font-weight: normal;
  margin: 0;
  vertical-align: middle;
  padding: 5px 30px 5px 15px; /* override others */
  font-size: 20px;
  color: rgb(var(--text-clr));
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.infotab:hover {
  /* box-shadow: 0px 0px 5px 2px #00000033; */
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.1));
}
.cell {
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(var(--text-clr), 0.05);
}
.cell:hover {
  cursor: pointer;
  background-image: linear-gradient(0deg, #0001, #0001);
}

#dash {
  /* max-width: rgb(var(--strip-width)); */
  /* margin: 1em auto; */
  background-color: rgb(var(--bg-clr));

  display: flex;
  /* display: grid;
  grid-template-rows: [topline] 50% [horiz1] auto [bottomline];
  grid-template-columns: [leftside] 20% [line1] auto [rightside]; */
}
#dash > div > div {
  padding: 15px;
}
#dash #sendtpc {

}
#dash #balance {

}
#dash #mining {

}
#dash #blockchainpreviewcell {

}


#bcpreviewontainer {
  display: inline-block;
  width: 100%;
}
#blockchainpreview {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  height: 1000px;
  justify-content: left;
  text-align: left;
  /* border: 5px solid grey; */
  border-radius: 5px;
  background-color: black;
  color:white;
}
#blockchainpreview .block {
  display: block;
  overflow: auto;
  margin: 15px;
  border: none;
  text-decoration: none;
}
#blockchainpreview .block * {
  padding: 4px;
}

#blockchainpreview .block .transactions {
  max-height: 200px;
  border: 2px solid white;
  overflow: auto;
  color: yellow;
}
#blockchainpreview .block .proofofwork, .block .prevhash, .block .hash {
  text-overflow: ellipsis;
  overflow-x: hidden;
  border: 2px solid white;
}
#blockchainpreview .block .prevhash {
  color: lightblue;
  border-bottom: none;
}
#blockchainpreview .block .proofofwork {
  color: #9e7;
  border-top: none;
}
#blockchainpreview .block .length, .block .hash {
  border: none;
  color: lightgrey;
}
