:root {
  --bg-clr-dark: 15, 25, 40;/*21, 32, 43;*/
  --text-clr-dark: 228, 230, 231;
  --bg-clr-light: 250, 250, 255;
  --text-clr-light: 32, 32, 32;
  --accent: 203, 89%, 53%;
  /* default values */
  --bg-clr: var(--bg-clr-dark);
  --text-clr: var(--text-clr-dark);
  --strip-width: 1000px;
}
* {
  transition: 0.15s;
}
body {
  font-family: 'Nunito', Sans-Serif;
  padding: 0;
  margin: 0;
  color: rgb(var(--text-clr));
  background-color: rgb(var(--bg-clr));
}
a {
  margin: 5px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 600;
  cursor: pointer;
}
.btn {
  min-width: 20px;
  width: 100%;
  padding: 8px;
  margin: 1px;
  border: 0;
  border-radius: 300px;
  color: rgb(var(--bg-clr));
  outline: none;
  box-sizing:border-box;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}
.btn:hover {
    box-shadow: inset 0px 1px 5px 1px rgba(var(--text-clr), 0.3);
}
input {
  box-sizing: border-box;
  min-width: 20px;
  width: 100%;
  padding: 8px;
  margin: 1px;
  border: 1px solid;
  border-radius: 300px;
  background-color: #0000;
  border-color: rgba(var(--text-clr), 0.1);
  color: inherit;
  outline: none;
  font-family: 'Nunito', sans-serif;
  cursor: text;
}
input:hover {
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.05));
}
input:focus {
  border-color: hsl(var(--accent));
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.1));
}
h1 {
  font-size: 36px;
  line-height: 1;
  margin: auto;
}

h2 {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: grey;
}
h3 {
  padding: 5px;
  margin: 5px 0 5px 0;
  font-size: 20px;
  color: rgb(var(--text-clr));
}

.rainbowbg, .rainbowtxt, .btn {
  /* background: linear-gradient(120deg, orange, red, darkorchid, dodgerblue, limegreen, yellow, orange, red);
  background-size: 1000% 100%;
  animation: bg_shift 5s infinite; */
  animation: colorchange 5s infinite;
  animation-timing-function: linear;
}

/* things that have rainbow text */
.rainbowtxt {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

@keyframes colorchange {
  0% {
    background-color: orange;
  }
  15% {
    background-color: red;
  }
  35% {
    background-color: darkorchid;
  }
  50% {
    background-color: dodgerblue;
  }
  70% {
    background-color: limegreen;
  }
  85% {
    background-color: yellow;
  }
  100% {
    background-color: orange;
  }
}

@keyframes bg_shift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.pk {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}
.pk:hover {
    background-image: linear-gradient(0deg, #fff1, #fff1);
    cursor: pointer;
}

.blockcode {
  max-height: 75px;
  overflow: auto;
  word-wrap:break-word;
  background-color: rgba(var(--text-clr), 0.1);
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.modal { /* modal background    source: w3schools */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* scroll down to see whole modal */
  background-color: rgba(var(--text-clr), 0.2); /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(var(--bg-clr));
  margin: 10vh auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(var(--bg-clr));
  width: 50%;
  min-width: 320px;
  /* padding: 25px 50px 25px 50px; */
  border-radius: 10px;
}

.infotab {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 5px 30px 5px 15px; /* override others */
  font-size: 20px;
  color: rgb(var(--text-clr));
  max-height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.infotab:hover {
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.1));
}
/* .infotab > * {
} */

.cell {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(var(--text-clr), 0.05);
}
.cell:hover {
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(var(--text-clr), 0.1), rgba(var(--text-clr), 0.1));
}

.private {
  width: 100%;
  /* background-color: rgb(var(--bg-clr)); */
  /* color: rgb(var(--text-clr)); */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.private:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}


#dash {
  background-color: rgb(var(--bg-clr));
}

#dash #leftcol {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(var(--bg-clr)); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  color: rgb(var(--text-clr));
  border-right: 1px solid rgba(var(--text-clr), 0.2);
}
#dash #middle {
  overflow: hidden; /* trigger BFC to fit in page */
  display: flex;
  height: 100%;
  flex-flow: column;
  border: 1px rgba(var(--text-clr), 0.1);
  margin-left: 250px;
}

#dash #sendtpc {
  padding: 5px 15px 20px 15px;
  border-bottom: 3px solid rgba(var(--text-clr), 0.5);
}


#bcpreviewontainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#blockchainpreview {
  white-space: nowrap;
  width: 100%;
  justify-content: center;
  text-align: left;
  overflow-y: auto;
}
#blockchainpreview .lengthdiv {
  display: block;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 15px;
  border: 1px solid rgba(var(--text-clr), 0.2);
  border-style: none;
  border-bottom-style: solid;
}
#blockchainpreview .blockcontent {
  overflow: auto;
}
#blockchainpreview .block * {
  padding: 4px;
}

#blockchainpreview .block .transactions {
  width: inherit;
  max-height: 200px;
  overflow: none;
  overflow-y: auto;
  color: rgb(var(--text-clr));
  word-wrap: break-word;
  white-space: initial;
  /* word-break: break-all; */
  /* overflow-wrap: break-word;
  text-overflow:  */
}
#blockchainpreview .block .proofofwork, .block .prevhash, .block .hash {
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#blockchainpreview .block .prevhash {
  color: rgb(75, 187, 224);
}
#blockchainpreview .block .proofofwork {
  vertical-align: middle;
  display: inline-block;
  color: #45df45;
}
