:root {
  --cell-bg-dark: #222;
  --text-clr-dark: #ddd;
  --cell-bg-light: #fff;
  --text-clr-light: #222;
  --rainbow: #3399ff;
  --cell-bg: var(--cell-bg-light);
  --text-clr: var(--text-clr-light);
  --strip-width: 1000px;
}
* {
  transition: 0.15s;
}
body {
  font-family: 'Nunito', Sans-Serif;
  padding: 0;
  margin: 0;
  color: var(--text-clr);
  background-color: var(--rainbow);
}
a {
  color: var(--rainbow);
  margin: 5px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--rainbow);
}
button {
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: var(--rainbow);
  background-color: #0000;
  border: 1px solid var(--rainbow);
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 100%;
  cursor: pointer;
}
button:hover {
  background-color: var(--rainbow);
  color: var(--cell-bg);
}
input {
  /* display: inline-block; */
  min-width: 20px;
  width: 100%;
  padding: 5px;
  margin: 1px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background-color: #00000005;
  color: var(--text-clr);
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  box-sizing:border-box;
}
input:focus {
  border-color: var(--rainbow);
}
h1 {
  color: var(--rainbow);
  font-size: 36px;
  line-height: 0;
}
h2 {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: grey;
}
h3 {
  margin: 5px 0 5px 0;
  font-size: 20px;
  color: var(--text-clr);
}

.modal { /* modal background    source: w3schools */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* scroll down to see whole modal */
  background-color: #000a; /* Black w/ opacity */
}
/* .modalc {
  display: table-cell;
  vertical-align: middle;
} */
.modal-content {
  background-color: var(--cell-bg);
  margin: 10vh auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid var(--cell-bg);
  width: 50%;
  min-width: 320px;
  /* padding: 25px 50px 25px 50px; */
  border-radius: 10px;
}

.cell {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cell-bg);
  color:inherit;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 1px 1px 10px 2px #0003;
}
/* .cell:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-bottom: 100%;
} */



#topbar {
  width: 100%;
  background-color: var(--cell-bg);
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid var(--text-clr);
}
#topbar > div {
  margin: 5px;
  display: flex;
  width: 100%;
  max-width: var(--strip-width);
  margin: auto;
}
#topbar > div > * {
  margin: 15px;
}
#dash {
  max-width: var(--strip-width);
  margin: 1em auto;
  background-color: var(--rainbow);

  display: flex;
  /* display: grid;
  grid-template-rows: [topline] 50% [horiz1] auto [bottomline];
  grid-template-columns: [leftside] 20% [line1] auto [rightside]; */
}
#dash .col {
  display: inline-block;
}
#dash #sendtpc {

}
#dash #balance {

}
#dash #mining {

}
#dash #blockchainpreviewcell {

}


#bcpreviewontainer {
  display: inline-block;
  width: 100%;

  overflow-x: scroll;
}
#blockchainpreview {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  height: 1000px;
  justify-content: left;
  text-align: left;
  /* border: 5px solid grey; */
  border-radius: 5px;
  overflow-x: auto;
  background-color: black;
  color:white;
}
#blockchainpreview .block {
  display: block;
  overflow: auto;
  margin: 15px;
  border: none;
  text-decoration: none;
}
#blockchainpreview .block * {
  padding: 4px;
}

#blockchainpreview .block .transactions {
  max-height: 200px;
  border: 2px solid white;
  overflow: auto;
  color: yellow;
}
#blockchainpreview .block .proofofwork, .block .prevhash, .block .hash {
  text-overflow: ellipsis;
  overflow-x: hidden;
  border: 2px solid white;
}
#blockchainpreview .block .prevhash {
  color: lightblue;
  border-bottom: none;
}
#blockchainpreview .block .proofofwork {
  color: #9e7;
  border-top: none;
}
#blockchainpreview .block .length, .block .hash {
  border: none;
  color: lightgrey;
}
